body {
    background-color: rgb(236, 236, 236);
}
.nav-custom {
    background: rgb(63, 63, 63);
    height: 55px;
}

.nav-custom a {
    color: white;
    text-decoration: none;
}

.nav-custom a:hover {
    color: rgba(255, 255, 255, 0.747);
}

.navbar-collapse a {
    font-size: 1.15rem;
}
.custom-brand {
    font-size: 30px;
    position: fixed;
    top: 0;
}

.web-name {
    font-size: 70px;
    color: rgb(83, 83, 83);
}

.ps {
    font-size: 20px;
    color: rgb(110, 110, 110);
}

.right-col {
    margin-left: 25%;
}

.nav-custom a.active {
    color: rgba(255, 255, 255, 0.534);
}

.p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.image-text {
    margin-top: 10%;
}


.learn-icons {
    font-size: 50px;
    line-height: 50px;
    background-color: rgb(65, 69, 102);
    padding: 15px;
    color: white;
    border-radius: 50%;
}

.learn-p {
    font-size: 18px;
}

.learn-buttons {
    padding: 30px;
    margin-top: 10%;
    background-color: rgb(226, 226, 226);
}

.container-fluid {
    padding-left: 10%;
}

.lock {
    margin-left: -55px;
    margin-right: 20px;
    color: rgb(84, 89, 131);
    font-size: 24px;
}

.footer {
    margin-top: 10%;
    background-color: rgb(197, 197, 197);
   
}

.custom-carousel {
    margin-left: 2%;
}

.btn-custom {
    background-color: rgb(84, 108, 160);
    color: white;
    padding: 1% 2%;
    border-radius: 10%;
    font-size: 18px;
}

.btn-custom:hover {
    color: white;
    background-color: rgba(84, 108, 160, 0.719);
}

.footer-icon {
    font-size: 25px;
    color: rgb(139, 74, 74);
}

.ftr-txt-clr {
    color: rgb(87, 87, 87);
    font-size: 16px;
    font-weight: normal;
}

.footer-color {
    color: rgb(71, 71, 71);
}

