body {
    background-color: rgb(236, 236, 236);
}
.nav-custom {
    background: rgb(156, 93, 33);
    height: 55px;
}

.nav-custom a {
    color: white;
    text-decoration: none;
}

.nav-custom a:hover {
    color: rgba(255, 255, 255, 0.747);
}

.navbar-collapse a {
    font-size: 1.15rem;
}
.custom-brand {
    font-size: 30px;
    position: fixed;
    top: 0;
}

.web-name {
    font-size: 70px;
    color: rgb(83, 83, 83);
}

.ps {
    font-size: 20px;
    color: rgb(110, 110, 110);
}

.right-col {
    margin-left: 25%;
}

.nav-custom a.active {
    color: rgba(255, 255, 255, 0.534);
}

.p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}

.image-text {
    margin-top: 10%;
}


.index-icons {
    font-size: 50px;
    line-height: 50px;
    background-color:rgb(118, 143, 6);
    padding: 20px;
    color: white;
    border-radius: 50%;
}

.learn-icons {
    font-size: 50px;
    line-height: 50px;
    background-color:rgb(118, 143, 6);
    padding: 20px;
    color: white;
    border-radius: 50%;
}

.learn-p {
    font-size: 18px;
}

.learn-buttons {
    padding: 30px;
    border-radius: 5%;
    margin-top: 10%;
}

.container-fluid {
    padding-left: 10%;
}

.image-text {
    margin-top: 8%;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
  }

div>p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15%;
    color: rgb(99,74,7);
}

div>img{
    opacity: 0.7;
}


.learn-buttons {
    padding: 30px;
    border-radius: 5%;
    margin-top: 6%;
}

div>a{
    text-decoration: none;
    text-decoration-color: none;
    color: black;
    
}

div>a:hover{
    color: rgb(150, 114, 17);
    text-decoration: none;
}

div>a.active{
    color: rgb(118, 143, 6);
}

.custom-container {
    margin-left: 6%;
}

